[submodule "3ds/Universal-Core"]
	path = 3ds/Universal-Core
	url = https://github.com/Universal-Team/Universal-Core.git
[submodule "nds/arm9/Universal-Core"]
	path = nds/arm9/Universal-Core
	url = https://github.com/Universal-Team/Universal-Core.git
[submodule "Sim2Editor-Core"]
	path = Sim2Editor-Core
	url = https://github.com/SuperSaiyajinStackZ/Sim2Editor-Core.git
