<!-- Sim2Editor GBA Cast Menu. -->
<div id="CastMenu" class="showNone"><br>
	<img id="Cast_Prev" src="/assets/images/cast/0.png" alt="Cast Preview" width="140" height="140"><br><br>
	<label for="CastSelection">{{ site.data.[page.lang].gba.cast-selected }}</label><select id="CastSelection" class="SelectionList"></select><br><br>

	<div id="CastEditMenu" class="showNone">
		{{ site.data.[page.lang].gba.cast-conversation-friendly }}<br>
			<img src="/assets/images/conversation/conversation_level0.png" alt="Conversation Level 0" id="Cast_Friendly" height="116" width="106">
			<button type="button" id="Cast_MinFriendly" class="ClickButton">{{ site.data.[page.lang].gba.min }}</button>
			<button type="button" id="Cast_MaxFriendly" class="ClickButton">{{ site.data.[page.lang].gba.max }}</button>
		<br><br>

		{{ site.data.[page.lang].gba.cast-conversation-romance }}<br>
			<img src="/assets/images/conversation/conversation_level0.png" alt="Conversation Level 0" id="Cast_Romance" height="116" width="106">
			<button type="button" id="Cast_MinRomance" class="ClickButton">{{ site.data.[page.lang].gba.min }}</button>
			<button type="button" id="Cast_MaxRomance" class="ClickButton">{{ site.data.[page.lang].gba.max }}</button>
		<br><br>

		{{ site.data.[page.lang].gba.cast-conversation-intimidate }}<br>
			<img src="/assets/images/conversation/conversation_level0.png" alt="Conversation Level 0" id="Cast_Intimidate" height="116" width="106">
			<button type="button" id="Cast_MinIntimidate" class="ClickButton">{{ site.data.[page.lang].gba.min }}</button>
			<button type="button" id="Cast_MaxIntimidate" class="ClickButton">{{ site.data.[page.lang].gba.max }}</button>
		<br><br>

		{{ site.data.[page.lang].gba.cast-alternative-picture }} <input type="checkbox" id="Cast_AlternatePic"><br>
		{{ site.data.[page.lang].gba.cast-mystery }} <input type="checkbox" id="Cast_Mystery"><br><br>
	</div>

	<div>
		<button type="button" id="Cast_MaxConversation" class="ClickButton">{{ site.data.[page.lang].gba.cast-max-conversation }}</button>
		<button type="button" id="Cast_MinConversation" class="ClickButton">{{ site.data.[page.lang].gba.cast-min-conversation }}</button><br>
		<button type="button" id="Cast_AlternatePicUnlock" class="ClickButton">{{ site.data.[page.lang].gba.cast-unlock-all-alt-pics }}</button>
		<button type="button" id="Cast_Mystery_Unlocker" class="ClickButton">{{ site.data.[page.lang].gba.cast-unlock-all-mysteries }}</button>
	</div>
</div>