<!-- Sim2Editor GBA Episode Menu. -->
<div id="EpisodeMenu" class="showNone"><br>
	<label for="EpisodeSelection">{{ site.data.[page.lang].gba.episode-selected }}</label><select id="EpisodeSelection" class="SelectionList"></select><br><br>

	<div id="EpisodeEditMenu" class="showNone">
		<b id="Episode_Ratings"></b><br><br>

			<b id="Episode_Plot_Points_Completed"></b><br>
				<input type="number" id="Episode_Rating1" min="0" max="25" class="EditBox">
				<button type="button" id="Episode_MinRating1" class="ClickButton">{{ site.data.[page.lang].gba.min }}</button>
				<button type="button" id="Episode_MaxRating1" class="ClickButton">{{ site.data.[page.lang].gba.max }}</button>
			<br><br>

			<b id="Episode_Aspiration_Conversation"></b><br>
				<input type="number" id="Episode_Rating2" min="0" max="25" class="EditBox">
				<button type="button" id="Episode_MinRating2" class="ClickButton">{{ site.data.[page.lang].gba.min }}</button>
				<button type="button" id="Episode_MaxRating2" class="ClickButton">{{ site.data.[page.lang].gba.max }}</button>
			<br><br>

			<b id="Episode_Hidden_Want_Completed"></b><br>
				<input type="number" id="Episode_Rating3" min="0" max="25" class="EditBox">
				<button type="button" id="Episode_MinRating3" class="ClickButton">{{ site.data.[page.lang].gba.min }}</button>
				<button type="button" id="Episode_MaxRating3" class="ClickButton">{{ site.data.[page.lang].gba.max }}</button>
			<br><br>

			<b id="Episode_Errand_Completed"></b><br>
				<input type="number" id="Episode_Rating4" min="0" max="25" class="EditBox">
				<button type="button" id="Episode_MinRating4" class="ClickButton">{{ site.data.[page.lang].gba.min }}</button>
				<button type="button" id="Episode_MaxRating4" class="ClickButton">{{ site.data.[page.lang].gba.max }}</button>
			<br><br>

			{{ site.data.[page.lang].gba.episode-unlocked }}
				<input type="checkbox" id="Episode_Unlocked">
			<br>
	</div>

	<div>
		<br><b>{{ site.data.[page.lang].gba.episode-misc }}</b><br><br>
			<button type="button" id="Episode_Min" class="ClickButton">{{ site.data.[page.lang].gba.episode-clear-ratings }}</button>
			<button type="button" id="Episode_Max" class="ClickButton">{{ site.data.[page.lang].gba.episode-max-ratings }}</button><br>
			<button type="button" id="Episode_Locks" class="ClickButton">{{ site.data.[page.lang].gba.episode-lock-all }}</button>
			<button type="button" id="Episode_Unlocks" class="ClickButton">{{ site.data.[page.lang].gba.episode-unlock-all }}</button>
		<br>
	</div>
</div>