<!-- Sim2Editor GBA Main Editor Menu (Including Simoleons, Name, Ratings, Time, Collectables etc). -->
<div id="MainEditorMenu" class="showNone">
	<!-- General stuff. -->
	<div>
		<h3><b>{{ site.data.[page.lang].gba.general-general }}</b></h3>
		{{ site.data.[page.lang].gba.general-name }}<br>
			<input type="text" id="Main_SimName" size="8" class="EditBox">
		<br>

		{{ site.data.[page.lang].gba.general-simoleons }}<br>
			<input type="number" id="Main_Simoleons" min="0" max="999999" class="EditBox">
			<button type="button" id="Main_MinSimoleons" class="ClickButton">{{ site.data.[page.lang].gba.min }}</button>
			<button type="button" id="Main_MaxSimoleons" class="ClickButton">{{ site.data.[page.lang].gba.max }}</button>
		<br>

		{{ site.data.[page.lang].gba.general-ratings }}<br>
			<input type="number" id="Main_Ratings" min="0" max="9999" class="EditBox">
			<button type="button" id="Main_MinRatings" class="ClickButton">{{ site.data.[page.lang].gba.min }}</button>
			<button type="button" id="Main_MaxRatings" class="ClickButton">{{ site.data.[page.lang].gba.max }}</button>
		<br>

		{{ site.data.[page.lang].gba.general-hour }}<br>
			<input type="number" id="Main_Hour" min="0" max="23" class="EditBox">
		<br>

		{{ site.data.[page.lang].gba.general-minute }}<br>
			<input type="number" id="Main_Minute" min="0" max="59" class="EditBox">
		<br>
	</div>

	<!-- Collectables. -->
	<div>
		<h3><b>{{ site.data.[page.lang].gba.general-collectables }}</b></h3>
		<b id="collectables-chug-chug-cola-cans"></b><br>
		<img src="/assets/images/collectables/cola.png" alt="img"><br>
			<input type="number" id="Main_Cans" min="0" max="250" class="EditBox">
			<button type="button" id="Main_MinCans" class="ClickButton">{{ site.data.[page.lang].gba.min }}</button>
			<button type="button" id="Main_MaxCans" class="ClickButton">{{ site.data.[page.lang].gba.max }}</button>
		<br><br>

		<b id="collectables-cowbells"></b><br>
			<img src="/assets/images/collectables/bell.png" alt="img"><br>
			<input type="number" id="Main_Cowbells" min="0" max="250" class="EditBox">
			<button type="button" id="Main_MinCowbells" class="ClickButton">{{ site.data.[page.lang].gba.min }}</button>
			<button type="button" id="Main_MaxCowbells" class="ClickButton">{{ site.data.[page.lang].gba.max }}</button>
		<br><br>

		<b id="collectables-alien-spaceship-parts"></b><br>
			<img src="/assets/images/collectables/spaceship.png" alt="img"><br>
			<input type="number" id="Main_SpaceshipParts" min="0" max="250" class="EditBox">
			<button type="button" id="Main_MinSpaceshipParts" class="ClickButton">{{ site.data.[page.lang].gba.min }}</button>
			<button type="button" id="Main_MaxSpaceshipParts" class="ClickButton">{{ site.data.[page.lang].gba.max }}</button>
		<br><br>

		<b id="collectables-nuclear-fuel-rods"></b><br>
			<img src="/assets/images/collectables/fuelrod.png" alt="img"><br>
			<input type="number" id="Main_Fuelrods" min="0" max="250" class="EditBox">
			<button type="button" id="Main_MinFuelrods" class="ClickButton">{{ site.data.[page.lang].gba.min }}</button>
			<button type="button" id="Main_MaxFuelrods" class="ClickButton">{{ site.data.[page.lang].gba.max }}</button>
		<br>
	</div>
</div>