<!-- Sim2Editor Index About Sim2Editor. -->
<div id="About">
	<h2><b>{{ site.data.[page.lang].index.about-sim2editor }}</b></h2>
	<b>{{ site.data.[page.lang].index.creator }}</b><br>
	<b>{{ site.data.[page.lang].index.latest-src-update }}</b><br><br>

	<h3>{{ site.data.[page.lang].index.latest-changes }}</h3>
		<b>- [GBA]: Removed the Corner Edges of the Casts.</b><br>
		<b>- [GBA]: Added Social Moves Menu including UI Social Move Selection.</b><br>
		<b>- [GBA]: Renamed 'Interaction' to 'Conversation' like the game actually does.</b><br>
		<b>- [GBA]: Likely yet another fixes or so.</b>
</div>