<!-- Sim2Editor Index About Sim2Editor. -->
<div id="About">
	<h2><b>{{ site.data.[page.lang].index.about-sim2editor }}</b></h2>
	<b>{{ site.data.[page.lang].index.creator }}</b><br>
	<b>{{ site.data.[page.lang].index.latest-src-update }}</b><br><br>

	<h3>{{ site.data.[page.lang].index.latest-changes }}</h3>
		<b>- [GBA]: Added proper compatibility with Movement Offsets.</b><br>
		<b>- [GBA]: Added GBASettings Class (But not editable with an UI yet).</b><br>
		<b>- [GBA]: Display current episode's name in the Slot Selector.</b>
</div>