<!-- Sim2Editor Index About Sim2Editor. -->
<div id="About">
	<h2><b>{{ site.data.[page.lang].index.about-sim2editor }}</b></h2>
	<b>{{ site.data.[page.lang].index.creator }}</b><br>
	<b>{{ site.data.[page.lang].index.latest-src-update }}</b><br><br>

	<h3>{{ site.data.[page.lang].index.latest-changes }}</h3>
		<b>- [GBA]: Add re-created Cast Interaction Graphics.</b><br>
		<b>- [GBA]: Add Cast UI Selection.</b><br>
		<b>- [GBA]: Add Warning about some features not working correctly if on tutorial.</b><br>
		<b>- [GBA]: Made Borders for the Casts more consistently.</b><br>
</div>