<!-- Sim2Editor Index Redirections. -->
<div id="Redirections">
	<h2><b>{{ site.data.[page.lang].index.redirections }}</b></h2>
	<button id="GBAEditor" class="ClickButton"><b>{{ site.data.[page.lang].index.redirect-gbaeditor }}</b></button><br><br>
	<button id="Documentation" class="ClickButton"><b>{{ site.data.[page.lang].index.redirect-documentation }}</b></button><br><br>
	<button id="FeatureList" class="ClickButton"><b>{{ site.data.[page.lang].index.redirect-featureslist }}</b></button>
</div>