<!-- Sim2Editor GBA Cast Selector GUI version. -->
<div id="CastSelectMenu" class="showNone"><br>
	<p><b>{{ site.data.[page.lang].gba.gui-cast-selector }}</p></b>

	<div id="CastSelectorGrid">
		<img src="/assets/images/cast/0.png" alt="Cast 1" width="100" height="100">
		<img src="/assets/images/cast/1.png" alt="Cast 2" width="100" height="100">
		<img src="/assets/images/cast/2.png" alt="Cast 4" width="100" height="100">

		<img src="/assets/images/cast/3.png" alt="Cast 5" width="100" height="100">
		<img src="/assets/images/cast/4.png" alt="Cast 6" width="100" height="100">
		<img src="/assets/images/cast/5.png" alt="Cast 3" width="100" height="100">

		<img src="/assets/images/cast/6.png" alt="Cast 7" width="100" height="100">
		<img src="/assets/images/cast/7.png" alt="Cast 8" width="100" height="100">
		<img src="/assets/images/cast/8.png" alt="Cast 9" width="100" height="100">

		<img src="/assets/images/cast/9.png" alt="Cast 10" width="100" height="100">
		<img src="/assets/images/cast/10.png" alt="Cast 11" width="100" height="100">
		<img src="/assets/images/cast/11.png" alt="Cast 12" width="100" height="100">

		<img src="/assets/images/cast/12.png" alt="Cast 13" width="100" height="100">
		<img src="/assets/images/cast/13.png" alt="Cast 14" width="100" height="100">
		<img src="/assets/images/cast/14.png" alt="Cast 15" width="100" height="100">

		<img src="/assets/images/cast/15.png" alt="Cast 16" width="100" height="100">
		<img src="/assets/images/cast/16.png" alt="Cast 17" width="100" height="100">
		<img src="/assets/images/cast/17.png" alt="Cast 18" width="100" height="100">

		<img src="/assets/images/cast/18.png" alt="Cast 19" width="100" height="100">
		<img src="/assets/images/cast/19.png" alt="Cast 20" width="100" height="100">
		<img src="/assets/images/cast/20.png" alt="Cast 21" width="100" height="100">

		<img src="/assets/images/cast/21.png" alt="Cast 22" width="100" height="100">
		<img src="/assets/images/cast/22.png" alt="Cast 23" width="100" height="100">
		<img src="/assets/images/cast/23.png" alt="Cast 24" width="100" height="100">

		<img src="/assets/images/cast/24.png" alt="Cast 25" width="100" height="100">
		<img src="/assets/images/cast/25.png" alt="Cast 26" width="100" height="100">
	</div>
</div>