<!-- Sim2Editor GBA Social Move Selector GUI version. -->
<div id="SocialMoveSelectMenu" class="showNone"><br>
	<p><b>{{ site.data.[page.lang].gba.gui-social-move-selector }}</b></p>

	<div id="SocialMoveSelectorGrid">
		<img src="/assets/images/social-moves/0.png" alt="Social Move 1" width="100" height="100">
		<img src="/assets/images/social-moves/1.png" alt="Social Move 2" width="100" height="100">
		<img src="/assets/images/social-moves/2.png" alt="Social Move 4" width="100" height="100">
		<img src="/assets/images/social-moves/3.png" alt="Social Move 5" width="100" height="100">
		<img src="/assets/images/social-moves/4.png" alt="Social Move 6" width="100" height="100">

		<img src="/assets/images/social-moves/5.png" alt="Social Move 6" width="100" height="100">
		<img src="/assets/images/social-moves/6.png" alt="Social Move 7" width="100" height="100">
		<img src="/assets/images/social-moves/7.png" alt="Social Move 8" width="100" height="100">
		<img src="/assets/images/social-moves/8.png" alt="Social Move 9" width="100" height="100">
		<img src="/assets/images/social-moves/9.png" alt="Social Move 10" width="100" height="100">

		<img src="/assets/images/social-moves/10.png" alt="Social Move 11" width="100" height="100">
		<img src="/assets/images/social-moves/11.png" alt="Social Move 12" width="100" height="100">
		<img src="/assets/images/social-moves/12.png" alt="Social Move 13" width="100" height="100">
		<img src="/assets/images/social-moves/13.png" alt="Social Move 14" width="100" height="100">
		<img src="/assets/images/social-moves/14.png" alt="Social Move 15" width="100" height="100">
	</div>
</div>