<!-- Sim2Editor GBA Menus. -->
<div id="Menus" class="showNone"><br>
	{{ site.data.[page.lang].gba.menu-loaded-slot }}<b id="Loaded_Slot"></b><br><br>
	<button type="button" id="Slot-Selector-Menu" class="SelectedMenu">{{ site.data.[page.lang].gba.menu-slots }}</button>
	<button type="button" id="Main-Editor-Menu" class="UnselectedMenu">{{ site.data.[page.lang].gba.menu-general }}</button>
	<button type="button" id="Cast-Menu" class="UnselectedMenu">{{ site.data.[page.lang].gba.menu-cast }}</button>
	<button type="button" id="Episode-Menu" class="UnselectedMenu">{{ site.data.[page.lang].gba.menu-episode }}</button>
	<button type="button" id="Social-Moves-Menu" class="UnselectedMenu">{{ site.data.[page.lang].gba.menu-social-move }}</button>
	<button type="button" id="Finish-Menu" class="UnselectedMenu">{{ site.data.[page.lang].gba.menu-finish }}</button>
	<br><br>
</div>