<!-- Sim2Editor GBA. -->
<!DOCTYPE html>
<html lang={{ page.lang }}>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,maximum-scale=2">
	<title>Sim2Editor - GBA</title>

	<link rel="stylesheet" href="/assets/css/gba/dark.css">

	<!-- Common things. -->
	<script type="module" src="/assets/js/common/checksum.js"></script>
	<script type="module" src="/assets/js/common/common.js"></script>
	<script type="module" src="/assets/js/common/simutils.js"></script>

	<!-- Main things. -->
	<script type="module" src="/assets/js/gba/gfx.js"></script>
	<script type="module" src="/assets/js/gba/main.js"></script>
	<script type="module" src="/assets/js/gba/string-handler.js"></script>

	<!-- Core things. -->
	<script type="module" src="/assets/js/gba/core/cast.js"></script>
	<script type="module" src="/assets/js/gba/core/episode.js"></script>
	<script type="module" src="/assets/js/gba/core/sav.js"></script>
	<script type="module" src="/assets/js/gba/core/savslot.js"></script>
	<script type="module" src="/assets/js/gba/core/savutils.js"></script>
	<script type="module" src="/assets/js/gba/core/social-move.js"></script>

	<!-- Menu things. -->
	<script type="module" src="/assets/js/gba/menu/main-editor-menu.js"></script>
	<script type="module" src="/assets/js/gba/menu/slot-menu.js"></script>
	<script type="module" src="/assets/js/gba/menu/cast-menu.js"></script>
	<script type="module" src="/assets/js/gba/menu/episode-menu.js"></script>
	<script type="module" src="/assets/js/gba/menu/social-move-menu.js"></script>
</head>

<body>
	{% include gba/strings.html %} <!-- External Strings for JS. -->
	<main>
		{% include gba/loader.html %} <!-- The SAVLoader part. -->

		<div id="SavEditor" class="showNone">
			{% include gba/menus.html %} <!-- Menu bar on the top. -->

			{% include gba/menu/slot-menu.html %} <!-- Slot Menu. -->
			{% include gba/menu/main-editor-menu.html %} <!-- General / Main Editor Menu. -->
			{% include gba/menu/cast-menu.html %}
			{% include gba/menu/episode-menu.html %}
			{% include gba/menu/social-move-menu.html %}

			<!-- GUI Selections. -->
			{% include gba/selectors/cast-selector.html %}
			{% include gba/selectors/social-move-selector.html %}
		</div>

		{% include footer.html %} <!-- Footer. -->
	</main>
</body>
</html>