<!-- Sim2Editor Index. -->
<!DOCTYPE html>
<html lang={{ page.lang }}>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,maximum-scale=2">
	<title>Sim2Editor - Index</title>

	<link rel="stylesheet" href="../assets/css/index/dark.css">
	<script type="module" src="../assets/js/index/main.js"></script>
</head>

<body>
	<main>
		{% include index/header.html %} <!-- Header with small information. -->
		{% include index/about.html %} <!-- Creator, Last updated source date etc. -->
		{% include index/redirections.html %} <!-- Redirection Links to the Editor, Documentation etc. -->
		{% include footer.html %} <!-- Footer with Copyright notice. -->
	</main>
</body>